<% provide(:title, 'Create Account') %>
<div class="container mt-3">
    <div class="col-md-6 mx-auto">
        <%= render "error_messages" %>
        <h1 class="text-center">Sign up</h1>
        <p class="text-center">Join us for free!</p>
        <%= render "form", btn_msg: "Create an account" %>
    </div>
</div>