<div class="p-5 m-4 mx-5 glass-background rounded-3">
    <div class="container-fluid py-5 text-center">
        <p class="display-5">About Me</p>
        <hr>
        <div class="col-12 ">
            <p class="h4 w-50 mx-auto fw-bolder">
                I'm in my third year of computer science study. I have web development experience and am a quick learner of programming languages. <br> <br>
                During my first year of college, I began with C++, fell in love with Python, and had a secret love affair with Ruby and typed languages. <br><br>
                Computer Vision and Tracking Systems have recently piqued my interest.
            </p>
        </div>
    </div>
</div>