<div class="p-5 m-4 mx-5 glass-background rounded-3">
    <div class="container-fluid py-5 text-center">
        <p class="display-5">Contact Me</p>
        <hr>
        <div class="col-12 ">
            <a href="https://www.linkedin.com/in/cdpastelero/" class="text-dark p-2" target="_blank">
                <i class="bi bi-linkedin h3"></i>
            </a>
            <a href="https://github.com/Cyvid7-Darus10" class="text-dark p-2" target="_blank">
                <i class="bi bi-github h3"></i>
            </a>
            <a href="https://twitter.com/pasteleroNFT" class="text-dark p-2" target="_blank">
                <i class="bi bi-twitter h3"></i>
            </a>
        </div>
    </div>
</div>