/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

$image: 'https://pixabay.com/get/g7e63caf28e54c6bd79c03360d77af466f852155ae2c3810de8ea6d8204213f06fb7556c0fdc880b07d78564058fc8e1e7402b71260fc4abd2631824460c83af8e4815fdf9dba36ce78ef1830ec72f9fc_1920.jpg';


body {
  background-image: url($image);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  font-family: 'Rajdhani', sans-serif;
}